<p-toolbar class="p-toolbar">
  <div class="p-toolbar-group-left" style="margin-right: 10px;">
    <!-- Logo or Branding -->
    <div class="logo">
      <img src="/assets/logo2.png" alt="Logo" height="30">
    </div>
  </div>

  <div class="p-toolbar-group-right">
    <!-- Desktop Menu -->
     
    <button pButton label="Home" icon="pi pi-home" routerLink="/" class="p-button-outlined"></button>
    <button pButton label="Order Form" icon="pi pi-shopping-bag" routerLink="/order-form" class="p-button-outlined"></button>
    <button pButton label="Order List" icon="pi pi-list" routerLink="/order-list" class="p-button-outlined"></button>
    <button pButton label="Logout" icon="pi pi-sign-out" (click)="logout()" class="p-button-outlined"></button>
  
  </div>
</p-toolbar>







